# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\joevr\OneDrive\School\Jaar 1\Blok 3\OOP1\OOP-Opdrachten\J-BsaMonitor\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
